In [1]:
import httpx
import asyncio
import pandas as pd

from os import path, mkdir
from toolkit.exchanges import Binance, Coinalyze

In [2]:
binance = Binance()

markets = {
    "Binance": ["BTCUSDT", "ETHUSDT"]
}
coinalyze_markets = ["BTCUSD_PERP.A", "ETHUSD_PERP.A"]

In [3]:
trade_data = []
print("Downloading trade data...")
async with httpx.AsyncClient() as client:
    for symbol in markets["Binance"]:
        trade_data.append(binance.trades(client, symbol, limit=1000))
    trade_data = await asyncio.gather(*trade_data)
    trade_data = dict(zip(markets["Binance"], trade_data))
print("Finished downloading.")

Downloading trade data...
Finished downloading.

In [ ]:
try:
    coinalyze = Coinalyze()
    spot = coinalyze.spot_markets()
    futures = coinalyze.futures_markets()

    oi = coinalyze.open_interest(coinalyze_markets)
    fu = coinalyze.funding(coinalyze_markets)
except KeyError as err:
    print(err)

In [4]:
df = {}
for symbol, trades in trade_data.items():
    df[symbol] = pd.DataFrame.from_dict(trades)

In [6]:
df["BTCUSDT"]

                                time  side           price      volume
0   2023-10-11 00:08:36.145000+00:00  sell  27399.59000000  0.00019000
1   2023-10-11 00:08:36.201000+00:00  sell  27399.58000000  0.00022000
2   2023-10-11 00:08:36.201000+00:00  sell  27399.56000000  0.00025000
3   2023-10-11 00:08:36.201000+00:00  sell  27399.40000000  0.00025000
4   2023-10-11 00:08:36.201000+00:00  sell  27399.28000000  0.00025000
..                               ...   ...             ...         ...
995 2023-10-11 00:10:46.420000+00:00   buy  27409.15000000  0.00076000
996 2023-10-11 00:10:46.536000+00:00   buy  27409.15000000  0.00107000
997 2023-10-11 00:10:46.676000+00:00  sell  27409.14000000  0.00079000
998 2023-10-11 00:10:47.509000+00:00   buy  27409.15000000  0.00051000
999 2023-10-11 00:10:47.899000+00:00  sell  27409.14000000  0.00366000

[1000 rows x 4 columns]

In [7]:
df["ETHUSDT"]

                                time  side          price      volume
0   2023-10-11 00:07:59.994000+00:00   buy  1567.84000000  0.00820000
1   2023-10-11 00:07:59.994000+00:00  sell  1567.83000000  0.00650000
2   2023-10-11 00:07:59.998000+00:00  sell  1567.83000000  0.01660000
3   2023-10-11 00:07:59.998000+00:00   buy  1567.84000000  0.04030000
4   2023-10-11 00:07:59.999000+00:00  sell  1567.83000000  0.06510000
..                               ...   ...            ...         ...
995 2023-10-11 00:10:42.407000+00:00  sell  1568.78000000  0.03190000
996 2023-10-11 00:10:43.504000+00:00  sell  1568.78000000  0.00010000
997 2023-10-11 00:10:43.504000+00:00  sell  1568.78000000  0.00760000
998 2023-10-11 00:10:46.681000+00:00  sell  1568.78000000  0.01060000
999 2023-10-11 00:10:46.743000+00:00  sell  1568.78000000  0.19570000

[1000 rows x 4 columns]