In [1]:
import duckdb
import numpy as np
import pandas as pd

from os import path

%load_ext sql

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///:default:

The 'toml' package isn't installed. To load settings from the pyproject.toml file, install with: pip install toml

In [2]:
def expectancy(win_rate, avg_win, avg_loss) -> float:
    return win_rate * avg_win + (1 - win_rate) * avg_loss

def george(win_rate, avg_win, avg_loss) -> float:
    return (1 + avg_win)**win_rate * (1 + avg_loss)**(1 - win_rate) - 1

def kelly(win_rate, avg_win, avg_loss)-> float:
    return win_rate / np.abs(avg_loss) - (1 - win_rate) / avg_win

In [3]:
def prob(proposition):
    """Computes the probability of a proposition, A."""
    return proposition.mean()

def conditional(proposition, given):
    """Computes the conditional probability of A given B."""
    return prob(proposition[given])

In [4]:
%sql CREATE TABLE btcusdt AS SELECT * FROM read_csv_auto("data/Binance_BTCUSDT_Kline_1m.csv");
%sql CREATE TABLE ethusdt AS SELECT * FROM read_csv_auto("data/Binance_ETHUSDT_Kline_1m.csv");
%sql CREATE TABLE solusdt AS SELECT * FROM read_csv_auto("data/Binance_SOLUSDT_Kline_1m.csv");

   Count
0  19796

In [5]:
%sql df << SELECT * FROM btcusdt

In [6]:
df

                     time      open      high       low     close    volume
0     2023-10-12 05:17:00  26786.34  26796.14  26786.33  26796.14   8.51243
1     2023-10-12 05:18:00  26796.13  26796.14  26792.51  26794.14  10.70889
2     2023-10-12 05:19:00  26794.15  26794.15  26791.07  26791.07   6.30048
3     2023-10-12 05:20:00  26791.08  26795.03  26791.07  26795.03   4.05816
4     2023-10-12 05:21:00  26795.03  26795.03  26795.02  26795.03   3.24917
...                   ...       ...       ...       ...       ...       ...
27174 2023-10-31 02:11:00  34400.01  34437.25  34400.01  34437.25  30.87703
27175 2023-10-31 02:12:00  34437.25  34441.88  34415.13  34415.14  21.75899
27176 2023-10-31 02:13:00  34415.13  34422.90  34415.13  34422.89   8.59706
27177 2023-10-31 02:14:00  34422.89  34422.90  34418.87  34418.88  11.03563
27178 2023-10-31 02:15:00  34418.87  34418.88  34416.98  34416.98   2.05760

[27179 rows x 6 columns]